@charset "utf-8";

#left-side{
	float: left;
	width: 770px;
}

#right-side{
	float: right;
	width: 370px;
}

#details{
	background: -moz-linear-gradient(top,  rgba(0,140,183,0.6) 0%, rgba(0,183,234,0.1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,140,183,0.6)), color-stop(100%,rgba(0,183,234,0.1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,140,183,0.6) 0%,rgba(0,183,234,0.1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,140,183,0.6) 0%,rgba(0,183,234,0.1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,140,183,0.6) 0%,rgba(0,183,234,0.1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,140,183,0.6) 0%,rgba(0,183,234,0.1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99008cb7', endColorstr='#1a00b7ea',GradientType=0 ); /* IE6-9 */


	float: right;
	width: 370px;
}

table{
	color: white;
	margin: auto;
}

p{
	color: white;
	text-align: left;
}

p.descripcion {
	font-size: 12px;
}

p.details{
	margin-left: 10px;
	text-align: left;
}

a.details{
	float: left;
}

a.emphasis{
	text-decoration: underline;
}

h1.upper-bar-name{
	float: left;
}

h1.upper-bar-price{
	float: right;
	margin: 2px auto;
}

img.portada{
	width: 770px;
	height: 423px;
}