@charset "utf-8";


#content-container{
	width: 660px;
	margin: auto;
}

#elem{
	width: 393px;
	float: left;
	text-align: center;
}



img.image{
	 width: 660px;
	 height: 360px;
}



iframe{
	width: 340px;
	height: 187px;
	border: 0px;
}

table{
	background: rgba(207,201,201,0.21);
    background: -moz-linear-gradient(left, rgba(207,201,201,0.21) 0%, rgba(223,153,141,0) 40%, rgba(248,80,50,0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(207,201,201,0.21)), color-stop(40%, rgba(223,153,141,0)), color-stop(100%, rgba(248,80,50,0)));
    background: -webkit-linear-gradient(left, rgba(207,201,201,0.21) 0%, rgba(223,153,141,0) 40%, rgba(248,80,50,0) 100%);
    background: -o-linear-gradient(left, rgba(207,201,201,0.21) 0%, rgba(223,153,141,0) 40%, rgba(248,80,50,0) 100%);
    background: -ms-linear-gradient(left, rgba(207,201,201,0.21) 0%, rgba(223,153,141,0) 40%, rgba(248,80,50,0) 100%);
    background: linear-gradient(to right, rgba(207,201,201,0.21) 0%, rgba(223,153,141,0) 40%, rgba(248,80,50,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfc9c9', endColorstr='#f85032', GradientType=1 );
	text-align: center;
	margin: 0 auto;
	text-align: left;
	text-align: justify;
	width: 340px;
	border-bottom: 1px #9898A6 groove;
	border-left: 1px #222429 solid;
	border-radius: 4px;
}

tr{
	text-align: left;
	font-size: 17px;
	color: #FFFFFF;
	text-shadow: 1px 1px #000000;
}