#juego {
	height: 100px;
	width: 700px;
	border: 1px;
	background-color: rgb(20,31,44);
	margin-left: 260px;
	margin-top: 5px;
}

.imagen {
	height: 98px;
	width: 200px;
	float: left;
}

#titulo {
	margin-top: -5px;
	float: left;
	margin-left: 10px;
	height: 10px;
}

p.titulo {
	color: white;
}

p.descripcion {
	margin-top: 15px;
	margin-left: 15px;
	float: left;
	font-size: 12px;
	width: 350px;
	text-align: left;
}

#precio {
	float: right;
	margin-right: 10px;
	margin-top: 40px;
}