@charset "utf-8";

#logIn {
	margin: auto;
	margin-top: 20px;
	border: 1px solid black;
	float: left;
	padding: 10px;
	width: 568px;
	height: 400px;;
	background-color: #848484;

}
#logInButton{
	margin-top: 10px;
	display:inline-table;
	float: center;
	width: 150px;
	height: 30px;
	background-color: #585858;
	text-align: center;
}
#singUp{
	margin: auto;
	margin-top: 20px;
	border: 1px solid black;
	float: right;
	padding: 10px;
	width: 568px;
	height: 400px;
	background-color: #848484;
}
#newAccount{
	margin-top: 20px;
	display: inline-table;
	float: center;
	width: 150px;
	height:30px;
	background-color: #585858;
	text-align: center;
}



t1{
	text-align: center;
	margin: 0 10px 0 0;
	padding:10px;
	font-size: 150%;
	color:white;
}
p{
	text-align: center;
	text-decoration: none;
	color: white;
	
}

s{
	text-decoration: none;
	color: #848484;
}
