@charset "utf-8";

body{
/*background: rgba(30,30,33, 1);*/
font-family: sans-serif;
	text-align: center;

	
	/* margin-top: 0px; 
	margin-bottom: 0px; */
	
	
	/*background: rgba(20,20,20,1);*/
	
	
background-color: rgb(27,27,27);
/*
background: -moz-linear-gradient(top, rgba(20,20,20,0.36) 0%, rgba(20,20,20,1) 0%, rgba(20,20,20,1) 23%, rgba(13,13,13,1) 24%, rgba(64,64,64,1) 24%, rgba(54,54,54,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(20,20,20,0.36)), color-stop(0%, rgba(20,20,20,1)), color-stop(23%, rgba(20,20,20,1)), color-stop(24%, rgba(13,13,13,1)), color-stop(24%, rgba(64,64,64,1)), color-stop(100%, rgba(54,54,54,1)));
background: -webkit-linear-gradient(top, rgba(20,20,20,0.36) 0%, rgba(20,20,20,1) 0%, rgba(20,20,20,1) 23%, rgba(13,13,13,1) 24%, rgba(64,64,64,1) 24%, rgba(54,54,54,1) 100%);
background: -o-linear-gradient(top, rgba(20,20,20,0.36) 0%, rgba(20,20,20,1) 0%, rgba(20,20,20,1) 23%, rgba(13,13,13,1) 24%, rgba(64,64,64,1) 24%, rgba(54,54,54,1) 100%);
background: -ms-linear-gradient(top, rgba(20,20,20,0.36) 0%, rgba(20,20,20,1) 0%, rgba(20,20,20,1) 23%, rgba(13,13,13,1) 24%, rgba(64,64,64,1) 24%, rgba(54,54,54,1) 100%);
background: linear-gradient(to bottom, rgba(20,20,20,0.36) 0%, rgba(20,20,20,1) 0%, rgba(20,20,20,1) 23%, rgba(13,13,13,1) 24%, rgba(64,64,64,1) 24%, rgba(54,54,54,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#141414', endColorstr='#363636', GradientType=0 );
*/	
}


#franja{
	position:absolute;
   height: 200px;
   background-color: rgb(15,15,15);
   width:100%;
   left:0;
   top:0;
   border-bottom:1px black solid;
}



#container{
    width: 1220px;
    height: auto;
    margin-top:10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
	



}

#nav{

	border-radius: 41px 41px 0px 0px;
	-moz-border-radius: 41px 41px 0px 0px;
	-webkit-border-radius: 41px 41px 0px 0px;
	background-color: #222429;
   	padding: 10px;
   	overflow: auto;
}

#left-nav{
	float:left;
	width: 560px;
	margin-top: 25px;
}

#right-nav{
	float: left;
	width: 560px;
	margin-top: 25px;	
}

#logout{
	color: red;
	font-size: 8px;
}


#content{
	/*Degradado de fondo*/
	background: rgba(34,36,41,1);
	background: -moz-linear-gradient(top, rgba(34,36,41,1) 0%, rgba(40,65,102,1) 4%, rgba(12,32,59,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(34,36,41,1)), color-stop(4%, rgba(40,65,102,1)), color-stop(100%, rgba(12,32,59,1)));
	background: -webkit-linear-gradient(top, rgba(34,36,41,1) 0%, rgba(40,65,102,1) 4%, rgba(12,32,59,1) 100%);
	background: -o-linear-gradient(top, rgba(34,36,41,1) 0%, rgba(40,65,102,1) 4%, rgba(12,32,59,1) 100%);
	background: -ms-linear-gradient(top, rgba(34,36,41,1) 0%, rgba(40,65,102,1) 4%, rgba(12,32,59,1) 100%);
	background: linear-gradient(to bottom, rgba(34,36,41,1) 0%, rgba(40,65,102,1) 4%, rgba(12,32,59,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222429', endColorstr='#0c203b', GradientType=0 );

	height: 100%;
   	padding: 20px;
   	overflow: auto;
   	clear: both;
	
}



a{
	text-decoration: none;
	color: white;
}

li {
	display: inline;
	text-align: center;
	margin: 0 10px 0 0;
	padding: 10px;
	color: white;
	font-size: 150%;
	font-weight: bold;
}

h1{
	color: #FFFFFF;
	text-shadow: 2px 2px #000000;
	font-size: 19px;
}


img.icono_nav{
	float: left;
	width: 75px;
	height: 75*1,3px;
}


#pie{
	color: white;
	padding: 10px;
	text-align: center;
	clear: both;
	background-color: rgba(20,30,33,1);
}

#nombreUsuario{
	float: left;
	width: 560px;
	margin-top: 25px;
}

#imagenUsuario{
	float: right;
	border-right: 20px;
	margin-top: -50px;	
	margin-right:180px;
}

#menuAdmin {}