
@charset "utf-8";




#updateInfoButton{
	margin-top: 10px;
	display:inline-table;
	float: center;
	text-align: center;
	-moz-border-radius: 5px;  
   -webkit-border-radius: 5px;  
   border-radius: 5px;
}
#updatePassw{
	margin-top: 10px;
	margin-left:2cm;
	display:inline-table;
	float: right;
	text-align: center;
	-moz-border-radius: 5px;  
   -webkit-border-radius: 5px;  
   border-radius: 5px;
}
#mainContent{
	width: 500px;
	margin: auto;
	float: center;
}
table{
	background: rgba(207,201,201,0.21);
    background: -moz-linear-gradient(left, rgba(207,201,201,0.21) 0%, rgba(223,153,141,0) 40%, rgba(248,80,50,0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(207,201,201,0.21)), color-stop(40%, rgba(223,153,141,0)), color-stop(100%, rgba(248,80,50,0)));
    background: -webkit-linear-gradient(left, rgba(207,201,201,0.21) 0%, rgba(223,153,141,0) 40%, rgba(248,80,50,0) 100%);
    background: -o-linear-gradient(left, rgba(207,201,201,0.21) 0%, rgba(223,153,141,0) 40%, rgba(248,80,50,0) 100%);
    background: -ms-linear-gradient(left, rgba(207,201,201,0.21) 0%, rgba(223,153,141,0) 40%, rgba(248,80,50,0) 100%);
    background: linear-gradient(to right, rgba(207,201,201,0.21) 0%, rgba(223,153,141,0) 40%, rgba(248,80,50,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfc9c9', endColorstr='#f85032', GradientType=1 );
    margin-top: 20px;
	text-align: center;
	margin-left: 2cm;
	text-align: left;
	text-align: justify;
	width: 400px;
	border-bottom: 1px #9898A6 groove;
	border-left: 1px #222429 solid;
	border-radius: 4px;
	float: left;
}

tr{
	font-size: 20px;
	font-weight: bloth;
	color: #FFFFFF;
	text-shadow: 1px 1px #000000;
}


td{
	font-size: 20px;
	font-weight: bloth;
	color: #FFFFFF;
	text-shadow: 1px 1px #000000;
}
#imagen_Avatar{
	margin-top: 10px;
	margin-left: 10px;
	float: center;
	width: 150px;
	height: 150px;
}
#modificarAvatar{
	float: right;
	margin: 5px;
	width: 250px;
	height: 250px;
}
#juegos {
    
    padding: 10px 20px;
    
    float: center;
    width: 300px;
    
}

#juegos li{

	display: block;
	color: white;
	text-decoration: blink;
	font-size: 80%;
	border-left: 1px solid #333;
    border-right: 1px solid #333;
    border-bottom: 1px solid #333;
    border-top: 1px solid #333; 
    background-color: #585858;
    border-radius: 4px 4px 4px 4px;


}

#right-menu{
	float: right;
	margin: 5px;
	width: 210px;
}
#left-menu{
background: rgba(207,201,201,0.21);
    background: -moz-linear-gradient(left, rgba(207,201,201,0.21) 0%, rgba(223,153,141,0) 40%, rgba(248,80,50,0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(207,201,201,0.21)), color-stop(40%, rgba(223,153,141,0)), color-stop(100%, rgba(248,80,50,0)));
    background: -webkit-linear-gradient(left, rgba(207,201,201,0.21) 0%, rgba(223,153,141,0) 40%, rgba(248,80,50,0) 100%);
    background: -o-linear-gradient(left, rgba(207,201,201,0.21) 0%, rgba(223,153,141,0) 40%, rgba(248,80,50,0) 100%);
    background: -ms-linear-gradient(left, rgba(207,201,201,0.21) 0%, rgba(223,153,141,0) 40%, rgba(248,80,50,0) 100%);
    background: linear-gradient(to right, rgba(207,201,201,0.21) 0%, rgba(223,153,141,0) 40%, rgba(248,80,50,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfc9c9', endColorstr='#f85032', GradientType=1 );
	float: left;
	width: 200px;
	border-top: 1px #9898A6 groove;
	border-left: 1px #222429 solid;
	border-radius: 4px;
}