@charset "utf-8";


#userProfile{
	display:inline-table;
	float: center;
	width: 200px;
	height: 75px;
	text-align: center;

}
#ofertas{
	margin: 0 auto;
	float: center;
	width: 900px;
	height: 500px;
}
#gadgets{
	margin-top: 40px;
	width : 1200px;
	float: center;
}
#destacados{
	margin-top: 55px;
	float: left;
	margin-left: 30px;
	width: 400px;
	height: 300px;

}
#nombreColumna{
	font-size: 25px;
	font-weight: bloth;
	color: #00143D;
	text-shadow: 1px 1px #000000;
	text-align: left;
	background-color: #B2B2B2;
}
#video{
	
	float: center;
	margin: 0 auto;
}

a{
	text-decoration: none;
	color: white;
}


h1{
	display: inline;
	text-align :center;
	color : white;
}

h2{
	color: #FFFFFF;
	text-shadow: 1px 1px #000000;
}
table{
   width: 100%;
   border: 1px solid #000;
}
th, td {
   width: 25%;
   border: 1px solid #000;
   background: #fff;
   color: #000;
}
caption {
   padding: 0.3em;
   color: #fff;
   background: #000;
}
t1{
	text-align: center;
	margin: 0 10px 0 0;
	padding:10px;
	font-size: 150%;
	color:white;
}
p{
	text-align: center;
	text-decoration: none;
	color: white;
	
}

s{
	text-decoration: none;
	color: #848484;
}

img.user_photo{
	float: right;
	width: 65px;
	height:65px;
}
img.main_photo{
	margin-top: 50px;
	width: 900px;
	padding 10px;
	margin: auto;
	height:350px;
}
img.video_photo{
	margin-top: 100px;
	float: center;
	margin: 0 auto;
	width: 390px;
	height: 230px;
}
