@charset "utf-8";

body{
	/*Degradado de fondo*/
	background: rgba(238,238,238,1);
	background: -moz-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(110,110,110,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(238,238,238,1)), color-stop(100%, rgba(110,110,110,1)));
	background: -webkit-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(110,110,110,1) 100%);
	background: -o-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(110,110,110,1) 100%);
	background: -ms-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(110,110,110,1) 100%);
	background: linear-gradient(to bottom, rgba(238,238,238,1) 0%, rgba(110,110,110,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#6e6e6e', GradientType=0 );

	font-family: sans-serif;
	text-align: center;

	margin-top: 0px;
	margin-bottom: 0px;
}

#container{
	background-color : #151515;
	width: 1220px;
	padding 10px;
	margin: 0 auto;
	height:1090px;
}

#nav{
	background-color: #222429;
   	padding: 10px;
   	overflow: auto;
}

#left-nav{
	float:left;
	width: 560px;
	margin-top: 25px;
}

#right-nav{
	float: left;
	width: 560px;
	margin-top: 25px;	
}

#content{
	/*Degradado de fondo*/
	background: rgba(34,36,41,1);
	background: -moz-linear-gradient(top, rgba(34,36,41,1) 0%, rgba(40,65,102,1) 4%, rgba(12,32,59,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(34,36,41,1)), color-stop(4%, rgba(40,65,102,1)), color-stop(100%, rgba(12,32,59,1)));
	background: -webkit-linear-gradient(top, rgba(34,36,41,1) 0%, rgba(40,65,102,1) 4%, rgba(12,32,59,1) 100%);
	background: -o-linear-gradient(top, rgba(34,36,41,1) 0%, rgba(40,65,102,1) 4%, rgba(12,32,59,1) 100%);
	background: -ms-linear-gradient(top, rgba(34,36,41,1) 0%, rgba(40,65,102,1) 4%, rgba(12,32,59,1) 100%);
	background: linear-gradient(to bottom, rgba(34,36,41,1) 0%, rgba(40,65,102,1) 4%, rgba(12,32,59,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222429', endColorstr='#0c203b', GradientType=0 );

	height: 900px;
   	padding: 20px;
   	overflow: auto;
   	clear: both;  
   	margin: 0 auto;
}

#userProfile{
	display:inline-table;
	float: center;
	width: 200px;
	height: 75px;
	text-align: center;

}
#ofertas{
	margin: 0 auto;
	float: center;
	width: 900px;
	height: 500px;
}
#gadgets{
	margin-top: 40px;
	width : 1200px;
	float: center;
}
#destacados{
	margin-top: 55px;
	float: left;
	margin-left: 30px;
	width: 400px;
	height: 300px;

}
#nombreColumna{
	font-size: 25px;
	font-weight: bloth;
	color: #00143D;
	text-shadow: 1px 1px #000000;
	text-align: left;
	background-color: #B2B2B2;
}
#video{
	
	float: center;
	margin: 0 auto;
}

a{
	text-decoration: none;
	color: white;
}


li {
	display: inline;
	text-align: center;
	margin: 0 10px 0 0;
	padding: 10px;
	color: white;
	font-size: 150%;
	font-weight: bold;
}

h1{
	display: inline;
	text-align :center;
	color : white;
}

h2{
	color: #FFFFFF;
	text-shadow: 1px 1px #000000;
}
table{
   width: 100%;
   border: 1px solid #000;
}
th, td {
   width: 25%;
   border: 1px solid #000;
   background: #fff;
   color: #000;
}
caption {
   padding: 0.3em;
   color: #fff;
   background: #000;
}
t1{
	text-align: center;
	margin: 0 10px 0 0;
	padding:10px;
	font-size: 150%;
	color:white;
}
p{
	text-align: center;
	text-decoration: none;
	color: white;
	
}

s{
	text-decoration: none;
	color: #848484;
}
img.icono_nav{
	float: left;
	width: 75px;
	height: 75px;
}
img.user_photo{
	float: right;
	width: 65px;
	height:65px;
}
img.main_photo{
	margin-top: 50px;
	width: 900px;
	padding 10px;
	margin: auto;
	height:350px;
}
img.video_photo{
	margin-top: 100px;
	float: center;
	margin: 0 auto;
	width: 390px;
	height: 230px;
}

#pie{
	width: 1200px;
	color: white;
	padding: 10px;
	text-align: center;
	clear: both;
	background-color: rgba(20,30,33,1);
}