#menu{
	
	padding: 0px 110px;
	font: bold 12px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	color: #444;
}

#menu:after {
	clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

#navigation  {

	
	float: left;
	border-radius: 100px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.07);
	-webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.07);
    overflow: hidden;
	
}


#elementoMenu {

	float: left;
	border-style: solid; 
	border-width: 1px;
    border-color: #000000;
	box-shadow: 0 1px rgba(255,255,255,1) inset;
	-webkit-box-shadow: 0 1px rgba(255,255,255,1) inset;
	background: #FFFFFF; 
	
	/*background: -moz-linear-gradient(top, #F7F7F7 0%, #EDEDED 100%); /* FF3.6+ */
	/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F7F7F7), color-stop(100%,#EDEDED)); /* Chrome,Safari4+ */
	/*background: -webkit-linear-gradient(top, #F7F7F7 0%,#EDEDED 100%); /* Chrome10+,Safari5.1+ */
	/*background: -o-linear-gradient(top, #F7F7F7 0%,#EDEDED 100%); /* Opera 11.10+ */
	/*background: -ms-linear-gradient(top, #F7F7F7 0%,#EDEDED 100%); /* IE10+ */
	/*background: linear-gradient(top, #F7F7F7 0%,#EDEDED 100%); /* W3C */
	
	
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F7F7F7', endColorstr='#EDEDED',GradientType=0 ); /* IE6-9 */	
}


#elementoMenu a {
 
	display: block;
	padding: 5px 50px;
	color: #444;
	text-decoration: none;
	text-shadow: 0 1px #FFF;
}

#cajaBusqueda{

padding-top: 30px;
padding-right: 60px;

}

#busqueda{
	
  text-align: center;
    background-color: #AAAAAA;
    float: right;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    
}
#barra_busqueda{

	padding: 0px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}
