
#formulario{
	-moz-border-radius: 5px;  
    -webkit-border-radius: 5px;  
    border-radius: 5px;
	margin-top: 20px;
	display: inline-table;
	float: center;
	width: 500px;
	height:500px;
	text-align: center;
	background-color: #848484;
}
#singUpButton{
	margin-top: 10px;
	display:inline-table;
	float: center;
	width: 150px;
	height: 30px;
	background-color: #585858;
	text-align: center;
	-moz-border-radius: 5px;  
   -webkit-border-radius: 5px;  
   border-radius: 5px;
}

#acuerdo{
	border: 1px solid black;
	width: 568px;
	border: 1px solid black;
	float: bottom;
	padding: 10px;
	height: 80px;
	background-color: #0A0A2A;
}




t1{
	text-align: center;
	text-decoration: none;
	font-size: 70%;
	color:white;
}
p{
	text-align: center;
	text-decoration: none;
	color: white;
	
}

s{
	text-decoration: none;
	color: #848484;
