
@charset "utf-8";




#updateInfoButton{
	margin-top: 10px;
	display:inline-table;
	float: center;
	text-align: center;
	-moz-border-radius: 5px;  
   -webkit-border-radius: 5px;  
   border-radius: 5px;
}
#modifyButton{
	margin-top: 10px;
	display:inline-table;
	float: center;
	text-align: center;
	-moz-border-radius: 5px;  
   -webkit-border-radius: 5px;  
   border-radius: 5px;
}
#updatePassw{
	margin-top: 10px;
	margin-left:2cm;
	display:inline-table;
	float: right;
	text-align: center;
	-moz-border-radius: 5px;  
   -webkit-border-radius: 5px;  
   border-radius: 5px;
}
#mainContent{
	width: 500px;
	margin: auto;
	float: center;
}
table{
	background: rgba(207,201,201,0.21);
    background: -moz-linear-gradient(left, rgba(207,201,201,0.21) 0%, rgba(223,153,141,0) 40%, rgba(248,80,50,0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(207,201,201,0.21)), color-stop(40%, rgba(223,153,141,0)), color-stop(100%, rgba(248,80,50,0)));
    background: -webkit-linear-gradient(left, rgba(207,201,201,0.21) 0%, rgba(223,153,141,0) 40%, rgba(248,80,50,0) 100%);
    background: -o-linear-gradient(left, rgba(207,201,201,0.21) 0%, rgba(223,153,141,0) 40%, rgba(248,80,50,0) 100%);
    background: -ms-linear-gradient(left, rgba(207,201,201,0.21) 0%, rgba(223,153,141,0) 40%, rgba(248,80,50,0) 100%);
    background: linear-gradient(to right, rgba(207,201,201,0.21) 0%, rgba(223,153,141,0) 40%, rgba(248,80,50,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfc9c9', endColorstr='#f85032', GradientType=1 );
    margin-top: 20px;
	text-align: center;
	margin-left: 2cm;
	text-align: left;
	text-align: justify;
	width: 400px;
	border-bottom: 1px #9898A6 groove;
	border-left: 1px #222429 solid;
	border-radius: 4px;
	float: center;
}

tr{
	font-size: 20px;
	font-weight: bloth;
	color: #FFFFFF;
	text-shadow: 1px 1px #000000;
}


td{
	font-size: 20px;
	font-weight: bloth;
	color: #FFFFFF;
	text-shadow: 1px 1px #000000;
}
#imagen_Avatar{
	margin-top: 10px;
	margin-left: 10px;
	float: center;
	width: 150px;
	height: 150px;
}
#modificarAvatar{
	float: right;
	margin: 5px;
	width: 250px;
	height: 250px;
}
#imagenLupa{
margin-top: 10px;
	margin-left: 10px;
	float: center;
	width: 50px;
	height: 50px;


}
#juegos {
    
    padding: 10px 20px;
    
    float: center;
    width: 300px;
    
}

#juegos li{

	display: block;
	color: white;
	text-decoration: blink;
	font-size: 80%;
	border-left: 1px solid #333;
    border-right: 1px solid #333;
    border-bottom: 1px solid #333;
    border-top: 1px solid #333; 
    background-color: #585858;
    border-radius: 4px 4px 4px 4px;


}

#right-menu{
	float: right;
	margin: 5px;
	width: 210px;
}
#left-menu{
background: rgba(207,201,201,0.21);
    background: -moz-linear-gradient(left, rgba(207,201,201,0.21) 0%, rgba(223,153,141,0) 40%, rgba(248,80,50,0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(207,201,201,0.21)), color-stop(40%, rgba(223,153,141,0)), color-stop(100%, rgba(248,80,50,0)));
    background: -webkit-linear-gradient(left, rgba(207,201,201,0.21) 0%, rgba(223,153,141,0) 40%, rgba(248,80,50,0) 100%);
    background: -o-linear-gradient(left, rgba(207,201,201,0.21) 0%, rgba(223,153,141,0) 40%, rgba(248,80,50,0) 100%);
    background: -ms-linear-gradient(left, rgba(207,201,201,0.21) 0%, rgba(223,153,141,0) 40%, rgba(248,80,50,0) 100%);
    background: linear-gradient(to right, rgba(207,201,201,0.21) 0%, rgba(223,153,141,0) 40%, rgba(248,80,50,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfc9c9', endColorstr='#f85032', GradientType=1 );
	float: left;
	width: 200px;
	border-top: 1px #9898A6 groove;
	border-left: 1px #222429 solid;
	border-radius: 4px;
}
#friendsContent{

	margin: auto;
	float: center;
}
#user_friends_header{
    margin-top: 15px;
	
   	padding: 20px;
   	overflow: auto;
   	clear: both;
   	float : left;
}
#mainFriendsContent{
	margin-top:15px;
	float: bottom;
	clear:both;


}
#bandera_nacionalidad{
	margin-top: 20px;
	margin-left: 15px;
	float: left;
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
#texto_perfil{
	margin-left: 45px;
	margin-top: 0px;
	float: right;

	color: #FFFFFF;
	text-shadow: 2px 2px #000000;
	font-size: 25px;
}



 #letra_pequena{
 	float: right;
 	margin-left: 2cm;
	color: #FFFFFF;
	text-shadow: 2px 2px #000000;
	
}

#tabla_amigos{
background: rgba(76,76,76,1);
background: -moz-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 5%, rgba(102,102,102,1) 11%, rgba(71,71,71,1) 19%, rgba(60,60,61,1) 25%, rgba(60,60,61,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(76,76,76,1)), color-stop(5%, rgba(89,89,89,1)), color-stop(11%, rgba(102,102,102,1)), color-stop(19%, rgba(71,71,71,1)), color-stop(25%, rgba(60,60,61,1)), color-stop(100%, rgba(60,60,61,1)));
background: -webkit-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 5%, rgba(102,102,102,1) 11%, rgba(71,71,71,1) 19%, rgba(60,60,61,1) 25%, rgba(60,60,61,1) 100%);
background: -o-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 5%, rgba(102,102,102,1) 11%, rgba(71,71,71,1) 19%, rgba(60,60,61,1) 25%, rgba(60,60,61,1) 100%);
background: -ms-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 5%, rgba(102,102,102,1) 11%, rgba(71,71,71,1) 19%, rgba(60,60,61,1) 25%, rgba(60,60,61,1) 100%);
background: linear-gradient(to bottom, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 5%, rgba(102,102,102,1) 11%, rgba(71,71,71,1) 19%, rgba(60,60,61,1) 25%, rgba(60,60,61,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#3c3c3d', GradientType=0 );
	text-align: center;
	margin: auto;
	border-spacing: 6px;
	margin-top: 25px;
	text-align: left;
	text-align: justify;
	width: 900px;
	border-bottom: 1px #9898A6 groove;
	border-left: 1px #222429 solid;
	border-radius: 4px;
	float: center;
}


#nombreColumnaSeleccionada{
	font-size: 25px;
	font-weight: bloth;
	width: 120px
	text-shadow: 1px 1px #000000;
	text-align: left;
}

#celda{
	font-size: 23px;
	margin: 5px;
	width: 150px;
	color: #FFFFFF;
	text-shadow: 1px 1px #000000;
	text-align: left;
	background-color: rgba(60,86,102,1);
}

a{
	text-decoration: none;
	color: white;
}



h2{
	font-size: 20px;
	font-weight: bloth;
	color: #FFFFFF;
	text-shadow: 1px 1px #000000;
}

p{
	font-size: 15px;
	text-align: center;
	color: #9898A6;
}
