#capturas {	
	margin-top: 60px;
	padding-top: 60px;

}
.icono {
	height: 215px;

}
.icono2 {
}
.icono3 {
	width: 840px;
}
.icono4 {
	width: 840px;
}
.icono5 {
	width: 840px;
}
#archivo {
	background-color: white;
}