#foros h1{
	font-size: 200%;
	text-align: left;
	margin-left: 100px;
}

#cabecera_foro{
	font-size: 25px;
	font-weight: bloth;
	width: 120px
	color: #00143D;
	text-shadow: 1px 1px #000000;
	text-align: left;
	background-color: rgba(5,12,12,1);
}
#titulo_foro{
	text-align: center;
	font-size: 40px;
	margin: 5px;
	width: 150px;
	color: #FFFFFF;
	text-shadow: 1px 1px #000000;
	background-color: rgba(60,86,102,1);
}
#cabecera_foro h4 {
	color: white;
	text-align: center;
}
#tema p{
	font-size: 80%;
	margin-top: 35px;
}
#tema h5 {
	float: left;
	margin-left: 20px;
}


#en_tema{
	float: left;
	margin-left: 165px;
}

#creador, #creados, #ult_mens{
	text-align: center;
}

#tema{
	font-size: 23px;
	margin: 5px;
	width: 150px;
	color: #FFFFFF;
	text-shadow: 1px 1px #000000;
	text-align: left;
	background-color: rgba(60,86,102,1);
}

#nuevoTema {
            background-color: lightblue;
            float: left;
            margin-left: 50px;
            padding:20px;
            margin-bottom: 20px;
        }

table{
	background: rgba(76,76,76,1);
	background: -moz-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 5%, rgba(102,102,102,1) 11%, rgba(71,71,71,1) 19%, rgba(60,60,61,1) 25%, rgba(60,60,61,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(76,76,76,1)), color-stop(5%, rgba(89,89,89,1)), color-stop(11%, rgba(102,102,102,1)), color-stop(19%, rgba(71,71,71,1)), color-stop(25%, rgba(60,60,61,1)), color-stop(100%, rgba(60,60,61,1)));
	background: -webkit-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 5%, rgba(102,102,102,1) 11%, rgba(71,71,71,1) 19%, rgba(60,60,61,1) 25%, rgba(60,60,61,1) 100%);
	background: -o-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 5%, rgba(102,102,102,1) 11%, rgba(71,71,71,1) 19%, rgba(60,60,61,1) 25%, rgba(60,60,61,1) 100%);
	background: -ms-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 5%, rgba(102,102,102,1) 11%, rgba(71,71,71,1) 19%, rgba(60,60,61,1) 25%, rgba(60,60,61,1) 100%);
	background: linear-gradient(to bottom, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 5%, rgba(102,102,102,1) 11%, rgba(71,71,71,1) 19%, rgba(60,60,61,1) 25%, rgba(60,60,61,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#3c3c3d', GradientType=0 );
	text-align: center;
	margin: auto;
		border-spacing: 6px;
	margin-top: 25px;
	text-align: left;
	text-align: justify;
	width: 1150px;
	border-bottom: 1px #9898A6 groove;
	border-left: 1px #222429 solid;
	border-radius: 4px;
	float: center;
}


#cajaCentral{
	width: 100%;
	margin-top: 50px;
}

