@charset "utf-8";

#usuarios h1{
	font-size: 200%;
	text-align: left;
	margin-left: 100px;
}
#top,#top_usuarios,#top_logros,#ultima_actividad, #ultimos_registrados, #ultimos_logros h4{
	color: white;
	text-align: center;
}

#top,#top_usuarios,#top_logros {
	float: left;
	margin-left: 120px;
	margin-top: 35px;
}
#ultima_actividad, #ultimos_registrados, #ultimos_logros{
	float: left;
	margin-left: 170px;
	margin-top: 35px;
}

#top p,#top_usuarios p,#top_logros p,#ultima_actividad p, #ultimos_registrados p, #ultimos_logros p {
	color: black;
	padding: 7px;
	border-radius: 100px;
	border-style: solid; 
	border-width: 2px;
    border-color: #000000;
	background: #FFFFFF;
	text-align: center;
}

img.imageUser {
	width: 30px;
	height: 30px;
}

#espacio {
	float: left;
	width: 400px;
	height: 100px;
}