@charset "utf-8";

body{
	/*Degradado de fondo*/
	background: rgba(238,238,238,1);
	background: -moz-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(110,110,110,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(238,238,238,1)), color-stop(100%, rgba(110,110,110,1)));
	background: -webkit-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(110,110,110,1) 100%);
	background: -o-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(110,110,110,1) 100%);
	background: -ms-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(110,110,110,1) 100%);
	background: linear-gradient(to bottom, rgba(238,238,238,1) 0%, rgba(110,110,110,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#6e6e6e', GradientType=0 );

	font-family: sans-serif;
	text-align: center;

	margin-top: 0px;
	margin-bottom: 0px;
}

#container{
    width: 1220px;
    height: 979px;
    margin: 0 auto;
}

#nav{
	background-color: #222429;
   	padding: 10px;
   	overflow: auto;
}

#left-nav{
	float:left;
	width: 560px;
	margin-top: 25px;
}

#right-nav{
	float: left;
	width: 560px;
	margin-top: 25px;	
}

#content{
	/*Degradado de fondo*/
	background: rgba(34,36,41,1);
	background: -moz-linear-gradient(top, rgba(34,36,41,1) 0%, rgba(40,65,102,1) 4%, rgba(12,32,59,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(34,36,41,1)), color-stop(4%, rgba(40,65,102,1)), color-stop(100%, rgba(12,32,59,1)));
	background: -webkit-linear-gradient(top, rgba(34,36,41,1) 0%, rgba(40,65,102,1) 4%, rgba(12,32,59,1) 100%);
	background: -o-linear-gradient(top, rgba(34,36,41,1) 0%, rgba(40,65,102,1) 4%, rgba(12,32,59,1) 100%);
	background: -ms-linear-gradient(top, rgba(34,36,41,1) 0%, rgba(40,65,102,1) 4%, rgba(12,32,59,1) 100%);
	background: linear-gradient(to bottom, rgba(34,36,41,1) 0%, rgba(40,65,102,1) 4%, rgba(12,32,59,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222429', endColorstr='#0c203b', GradientType=0 );

	height: 844px;
   	padding: 20px;
   	overflow: auto;
   	clear: both;
}

#content-container{
	width: 660px;
	margin: auto;
}

#elem{
	width: 393px;
	float: left;
	text-align: center;
}

a{
	text-decoration: none;
	color: white;
}

li {
	display: inline;
	text-align: center;
	margin: 0 10px 0 0;
	padding: 10px;
	color: white;
	font-size: 150%;
	font-weight: bold;
}

h1{
	color: #FFFFFF;
	text-shadow: 2px 2px #000000;
	font-size: 19px;
}

img.image{
	 width: 660px;
	 height: 360px;
}

img.icono_nav{
	float: left;
	width: 75px;
	height: 75px;
}

iframe{
	width: 340px;
	height: 187px;
	border: 0px;
}

table{
	background: rgba(207,201,201,0.21);
    background: -moz-linear-gradient(left, rgba(207,201,201,0.21) 0%, rgba(223,153,141,0) 40%, rgba(248,80,50,0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(207,201,201,0.21)), color-stop(40%, rgba(223,153,141,0)), color-stop(100%, rgba(248,80,50,0)));
    background: -webkit-linear-gradient(left, rgba(207,201,201,0.21) 0%, rgba(223,153,141,0) 40%, rgba(248,80,50,0) 100%);
    background: -o-linear-gradient(left, rgba(207,201,201,0.21) 0%, rgba(223,153,141,0) 40%, rgba(248,80,50,0) 100%);
    background: -ms-linear-gradient(left, rgba(207,201,201,0.21) 0%, rgba(223,153,141,0) 40%, rgba(248,80,50,0) 100%);
    background: linear-gradient(to right, rgba(207,201,201,0.21) 0%, rgba(223,153,141,0) 40%, rgba(248,80,50,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfc9c9', endColorstr='#f85032', GradientType=1 );
	text-align: center;
	margin: 0 auto;
	text-align: left;
	text-align: justify;
	width: 340px;
	border-bottom: 1px #9898A6 groove;
	border-left: 1px #222429 solid;
	border-radius: 4px;
}

tr{
	font-size: 17px;
	color: #FFFFFF;
	text-shadow: 1px 1px #000000;
}